

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#temp{
   font-size: 4rem;
   color: rgb(255, 124, 124);
}
button{
    padding: 0.5rem;
    height: 40px;
    min-width: 140px;
    background-color: rgb(253, 139, 58);
   color: rgb(243, 235, 235);
   border-radius: .25rem;
   border: none;
    

}
.buttonHolder{
    margin-top: 2rem;
    gap: 10px;
}